Package: AnimeWatch
Version: 1.0.0-2
Architecture: i386
Maintainer: gnu-archlinux
Depends: python3, python3-pyqt4, python3-pycurl, python3-requests, python3-urllib3, python3-pil, python3-bs4, python3-lxml, python3-psutil, python3-taglib, python3-pip, curl, wget, libnotify-bin, mpv, mplayer, phantomjs, ffmpegthumbnailer, sqlite3
Section: sound,video,audio,multimedia
Description: A Audio/Video manager and Front End for mpv/mplayer with special emphasis on Watching Anime
