include AnimeWatch_PyQt5/default.jpg
include AnimeWatch_PyQt5/animewatch-start
include AnimeWatch_PyQt5/introspect.xml
include AnimeWatch_PyQt5/AnimeWatch.desktop
include AnimeWatch_PyQt5/Instructions
include AnimeWatch_PyQt5/1.png
include AnimeWatch_PyQt5/input.conf
include AnimeWatch_PyQt5/tray.png
include AnimeWatch_PyQt5/anime-watch